@forward 'partials/_settings';
@forward 'partials/_typography';
@forward 'partials/_global';
@forward 'partials/_elements';

@forward 'partials/_header';
@forward 'partials/_cart';
@forward 'partials/_alert';

@forward 'partials/_product';
@forward 'partials/_booking';
@forward 'partials/_home';
