@use 'sass:color';
@use './settings' as s;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: color.adjust(s.$color-dark, $lightness: 75%);
  font-family: s.$font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: s.$font-normal;
  color: s.$color-dark;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
