@use './settings' as s;
@use 'sass:color';
@use './typography';

.header {
  padding: (s.$base-size * 5) 0 (s.$base-size * 8) 0;
  background: s.$color-dark;
  color: s.$color-light;

  &__wrapper {
    position: relative;
  }
}

.logo {
  display: inline-block;
  line-height: 1;

  &__title {
    margin: 0 0 s.$base-size 0;
    font-size: (s.$base-size * 4);
    font-family: s.$font-header;
    font-weight: s.$font-light;
    text-transform: uppercase;

    span {
      font-weight: s.$font-bold;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: (s.$base-size * 1.5);
    font-weight: s.$font-light;
    font-style: italic;
  }
}

.main-nav {
  position: absolute;
  @include s.flex(row, flex-start, flex-start);
  bottom: (s.$base-size * -8);

  a {
    @extend .h2;
    color: s.$color-main;
    text-decoration: none;
    margin-right: (s.$base-size * 2);
    text-align: center;
    padding: s.$base-size (s.$base-size * 2);
    background: color.adjust(s.$color-dark, $lightness: -5%);
    border-top-left-radius: s.$radius;
    border-top-right-radius: s.$radius;

    &.active {
      background: color.adjust(s.$color-dark, $lightness: 75%);
    }
  }
}
