@use 'settings' as s;
@use 'sass:color';

.home-wrapper {
  margin: (s.$base-size * 3.5) auto;
  padding: (s.$base-size * 3) (s.$base-size * 4);
  background: s.$color-light;
  border-bottom: 1px solid color.adjust(s.$color-dark, $lightness: 70%);
  border-radius: s.$radius;
}

.banner {
  margin-bottom: (s.$base-size * 6);
  display: grid;
  grid-template-areas:
    'order booking'
    'hours hours';

  .order-page {
    grid-area: order;
    background-color: lightcoral;
    padding: (s.$base-size * 3);
    border-radius: 5px;
    margin: 3px;
  }

  .booking-page {
    grid-area: booking;
    background-color: lightgreen;
    padding: (s.$base-size * 3);
    border-radius: 5px;
    margin: 3px;
  }

  .opening-hours {
    grid-area: hours;
    background-color: lightsalmon;
    padding: (s.$base-size * 1.8);
    border-radius: 5px;
    margin: 3px;
  }
}

.carousel {
  margin-bottom: (s.$base-size * 6);
  background-color: lightseagreen;
  height: 270px;
}

.gallery {
  background-color: linen;
  height: 400px;
}
