@use 'settings' as s;
@use 'sass:color';

.home-wrapper {
  margin: (s.$base-size * 3.5) auto;
  padding: (s.$base-size * 6) (s.$base-size * 4);
  background: s.$color-light;
  border-bottom: 1px solid color.adjust(s.$color-dark, $lightness: 70%);
  border-radius: s.$radius;
}

.banner {
  margin-bottom: (s.$base-size * 6);
  display: grid;
  grid-template-areas: 'order booking' 'hours hours';

  .order-item {
    background: url(../images/assets/pizza-1.jpg) no-repeat center center/cover;
    @include s.banner-items-style(order);
    @include s.banner-text-animation();
  }

  .booking-item {
    background: url(../images/assets/pizza-2.jpg) no-repeat center center/cover;
    @include s.banner-items-style(booking);
    @include s.banner-text-animation();
  }

  .hours-item {
    background-color: s.$color-main;
    padding: s.$base-size * 2;
    @include s.banner-items-style(hours);
    flex-direction: column;

    .item-text-main {
      @include s.banner-hours-text(s.$font-header);
    }

    .item-text-sub {
      @include s.banner-hours-text(s.$font-text);
    }
  }
}

.slider {
  margin: s.$base-size * 3 0;
  overflow: hidden;
  position: relative;
  height: 18rem;

  .slide {
    transition: all 0.5s ease-in;
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 14rem;

    &--2 {
      transform: translateX(100%);
    }
    &--3 {
      transform: translateX(200%);
    }

    .slide-img {
      flex: 1;
      background: url('../images/assets/pizza-3.jpg') no-repeat center
        center/cover;
      padding: 2rem;
      border-radius: 7px;
    }

    .slide-text {
      flex: 2;
      padding: 1rem 2rem;

      .slide-title {
        font-family: s.$font-header;
        text-transform: uppercase;
        font-weight: s.$font-normal;
        color: s.$color-dark;
      }

      .slide-testimonials {
        font-family: s.$font-text;
        font-weight: s.$font-light;
        color: s.$color-dark;
      }

      .slide-quote {
        font-style: italic;
      }
    }
  }

  .dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    .dot {
      width: 12px;
      height: 12px;
      margin: 0 10px;
      border-radius: 50%;
      outline: none;
      border: none;
      background-color: s.$color-light-100;
      cursor: pointer;

      &--active {
        background-color: s.$color-dark;
      }
    }
  }
}

.gallery {
  margin: 100px 0 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  .grid-image {
    position: relative;
    border-radius: 5px;
    height: 100px;
  }
}

@for $i from 1 to 7 {
  .gallery-image-#{$i} {
    position: relative;
    background: url('../images/assets/pizza-#{$i + 3}.jpg')
      no-repeat
      center
      center/cover;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: s.$transition ease-in-out;
    overflow: hidden;

    & > * {
      color: s.$color-light;
      margin: 10px;
      font-size: 2rem;
      visibility: hidden;
      opacity: 0;
      transition: s.$transition ease-in-out;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: s.$color-black;
      opacity: 0;
      z-index: 0;
      transition: all 0.5s ease-in;
      transform: translateX(-75%) translateY(-75%) scale(2) rotate(-28deg);
    }

    &:hover {
      & > * {
        visibility: visible;
        opacity: 1;
        z-index: 2;

        &:hover {
          color: s.$color-main;
        }
      }

      &::after {
        opacity: 0.9;
        transform: translateX(0) translateY(0) scale(2) rotate(-28deg);
      }
    }
  }
}

.instagram-link {
  color: s.$color-main;
}
