@use 'settings' as s;
@use 'sass:color';

.home-wrapper {
  margin: (s.$base-size * 3.5) auto;
  padding: (s.$base-size * 3) (s.$base-size * 4);
  background: s.$color-light;
  border-bottom: 1px solid color.adjust(s.$color-dark, $lightness: 70%);
  border-radius: s.$radius;
}

.banner {
  margin-bottom: (s.$base-size * 6);
  display: grid;
  grid-template-areas: 'order booking' 'hours hours';

  .order-item {
    background: url(../images/assets/pizza-1.jpg) no-repeat center center/cover;
    @include s.banner-items-style(order);
    @include s.banner-text-animation();
  }

  .booking-item {
    background: url(../images/assets/pizza-2.jpg) no-repeat center center/cover;
    @include s.banner-items-style(booking);
    @include s.banner-text-animation();
  }

  .hours-item {
    background-color: s.$color-main;
    padding: s.$base-size * 2;
    @include s.banner-items-style(hours);
    flex-direction: column;

    .item-text-main {
      @include s.banner-hours-text(s.$font-header);
    }

    .item-text-sub {
      @include s.banner-hours-text(s.$font-text);
    }
  }
}

.carousel {
  margin-bottom: (s.$base-size * 6);
  background-color: lightseagreen;
  height: 270px;
}

.gallery {
  background-color: linen;
  height: 400px;
}
